Button {
    color: rgb(255, 255, 255);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 12px;
}

.red {
    border-left-color: rgb(255, 176, 154);
    border-right-color: rgb(255, 176, 154);
    border-top-color: rgb(255, 176, 154);
    border-bottom-color: rgb(255, 176, 154);
    background-color: rgb(241, 61, 11);
    font-size: 20px;
    -unity-text-align: middle-center;
}

.red:active {
    background-color: rgb(169, 43, 9);
}



.black {
    border-left-color: rgb(125, 125, 125);
    border-right-color: rgb(125, 125, 125);
    border-top-color: rgb(125, 125, 125);
    border-bottom-color: rgb(125, 125, 125);
    background-color: rgb(40, 40, 40);
    font-size: 20px;
    -unity-text-align: middle-center;
}

.black:active {
    background-color: rgba(40, 40, 40, 0.3);
}

.only-image {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -unity-background-scale-mode: scale-to-fit;
    transition-property: scale;
    transition-duration: 0.15s;
}

.only-image:selected {
    transition-property: scale;
    transition-duration: 0.15s;
    scale: 1.5 1.5;
}

.unity-base-field__input {
    flex: 1 1 0;
    flex-direction: row;
    justify-content: space-between;
    overflow: visible;
    align-items: center;
}
